@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Conceptos";
}
<div id="SAGBox">
    <h3>Mantenedores > Conceptos</h3>
    <ul>
        <li><a href="/SAG2/TipoImputacion/">Imputación</a></li>
        <li><a href="/SAG2/TipoOrigenAdquisicion/">Origen de adquisición</a></li>
        <li><a href="/SAG2/TipoAsistenciaPersonal/">Asistencia personal</a></li>
        <li><a href="/SAG2/TipoBajaInventario/">Bajas</a></li>
        <li><a href="/SAG2/TipoPersonal/">Tipo de personal</a></li>
        <li><a href="/SAG2/LineasAtencion/">Líneas de acción</a></li>
    </ul>
</div>